<h2>Hello! Here will be a form!)<h2>
  <form style="font-size: 14px" class="form" action="index.html" method="post">
    <label for="user-name">User name:</label>
    <input type="text" id="user-name" name="user-name" value="">
    <br>
    <input type="checkbox" id="only-cookie" name="" value="">
    <label for="only-cookie">HTTP only cookie</label>
    <br>
    <input type="submit" value="Отправить">
  </form>